@import url(/wp-content/themes/weblider/node_modules/bootstrap/dist/css/bootstrap.css);
@import url(/wp-content/themes/weblider/node_modules/@fortawesome/fontawesome-free/css/all.css);
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth; }

button,
a {
  transition: all 0.3s ease-out 0s; }

a,
a:focus,
a:hover {
  text-decoration: none; }

i,
span,
a {
  display: inline-block; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0px; }

.container-hero {
  margin: 0 auto;
  width: 100%; }
  @media (min-width: 1400px) {
    .container-hero {
      max-width: 1760px; } }
  @media (min-width: 1200px) and (max-width: 1399px) {
    .container-hero {
      max-width: 1350px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container-hero {
      max-width: 1120px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .container-hero {
      max-width: 890px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .container-hero {
      max-width: 780px; } }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 45px; }

@media (max-width: 767px) {
  h1 {
    font-size: 36px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 40px; } }

h2 {
  font-size: 36px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-40 {
  margin-top: 40px; }

.mt-45 {
  margin-top: 45px; }

.mt-50 {
  margin-top: 50px; }

.mt-55 {
  margin-top: 55px; }

.mt-60 {
  margin-top: 60px; }

.mt-65 {
  margin-top: 65px; }

.mt-70 {
  margin-top: 70px; }

.mt-75 {
  margin-top: 75px; }

.mt-80 {
  margin-top: 80px; }

.mt-85 {
  margin-top: 85px; }

.mt-90 {
  margin-top: 90px; }

.mt-95 {
  margin-top: 95px; }

.mt-100 {
  margin-top: 100px; }

.mt-105 {
  margin-top: 105px; }

.mt-110 {
  margin-top: 110px; }

.mt-115 {
  margin-top: 115px; }

.mt-120 {
  margin-top: 120px; }

.mt-125 {
  margin-top: 125px; }

.mt-130 {
  margin-top: 130px; }

.mt-135 {
  margin-top: 135px; }

.mt-140 {
  margin-top: 140px; }

.mt-145 {
  margin-top: 145px; }

.mt-150 {
  margin-top: 150px; }

.mt-155 {
  margin-top: 155px; }

.mt-160 {
  margin-top: 160px; }

.mt-165 {
  margin-top: 165px; }

.mt-170 {
  margin-top: 170px; }

.mt-175 {
  margin-top: 175px; }

.mt-180 {
  margin-top: 180px; }

.mt-185 {
  margin-top: 185px; }

.mt-190 {
  margin-top: 190px; }

.mt-195 {
  margin-top: 195px; }

.mt-200 {
  margin-top: 200px; }

.mt-205 {
  margin-top: 205px; }

.mt-210 {
  margin-top: 210px; }

.mt-215 {
  margin-top: 215px; }

.mt-220 {
  margin-top: 220px; }

.mt-225 {
  margin-top: 225px; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-35 {
  margin-bottom: 35px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-45 {
  margin-bottom: 45px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-55 {
  margin-bottom: 55px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-65 {
  margin-bottom: 65px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-75 {
  margin-bottom: 75px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-85 {
  margin-bottom: 85px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-95 {
  margin-bottom: 95px; }

.mb-100 {
  margin-bottom: 100px; }

.mb-105 {
  margin-bottom: 105px; }

.mb-110 {
  margin-bottom: 110px; }

.mb-115 {
  margin-bottom: 115px; }

.mb-120 {
  margin-bottom: 120px; }

.mb-125 {
  margin-bottom: 125px; }

.mb-130 {
  margin-bottom: 130px; }

.mb-135 {
  margin-bottom: 135px; }

.mb-140 {
  margin-bottom: 140px; }

.mb-145 {
  margin-bottom: 145px; }

.mb-150 {
  margin-bottom: 150px; }

.mb-155 {
  margin-bottom: 155px; }

.mb-160 {
  margin-bottom: 160px; }

.mb-165 {
  margin-bottom: 165px; }

.mb-170 {
  margin-bottom: 170px; }

.mb-175 {
  margin-bottom: 175px; }

.mb-180 {
  margin-bottom: 180px; }

.mb-185 {
  margin-bottom: 185px; }

.mb-190 {
  margin-bottom: 190px; }

.mb-195 {
  margin-bottom: 195px; }

.mb-200 {
  margin-bottom: 200px; }

.mb-205 {
  margin-bottom: 205px; }

.mb-210 {
  margin-bottom: 210px; }

.mb-215 {
  margin-bottom: 215px; }

.mb-220 {
  margin-bottom: 220px; }

.mb-225 {
  margin-bottom: 225px; }

.pt-5 {
  padding-top: 5px; }

.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px; }

.pt-35 {
  padding-top: 35px; }

.pt-40 {
  padding-top: 40px; }

.pt-45 {
  padding-top: 45px; }

.pt-50 {
  padding-top: 50px; }

.pt-55 {
  padding-top: 55px; }

.pt-60 {
  padding-top: 60px; }

.pt-65 {
  padding-top: 65px; }

.pt-70 {
  padding-top: 70px; }

.pt-75 {
  padding-top: 75px; }

.pt-80 {
  padding-top: 80px; }

.pt-85 {
  padding-top: 85px; }

.pt-90 {
  padding-top: 90px; }

.pt-95 {
  padding-top: 95px; }

.pt-100 {
  padding-top: 100px; }

.pt-105 {
  padding-top: 105px; }

.pt-110 {
  padding-top: 110px; }

.pt-115 {
  padding-top: 115px; }

.pt-120 {
  padding-top: 120px; }

.pt-125 {
  padding-top: 125px; }

.pt-130 {
  padding-top: 130px; }

.pt-135 {
  padding-top: 135px; }

.pt-140 {
  padding-top: 140px; }

.pt-145 {
  padding-top: 145px; }

.pt-150 {
  padding-top: 150px; }

.pt-155 {
  padding-top: 155px; }

.pt-160 {
  padding-top: 160px; }

.pt-165 {
  padding-top: 165px; }

.pt-170 {
  padding-top: 170px; }

.pt-175 {
  padding-top: 175px; }

.pt-180 {
  padding-top: 180px; }

.pt-185 {
  padding-top: 185px; }

.pt-190 {
  padding-top: 190px; }

.pt-195 {
  padding-top: 195px; }

.pt-200 {
  padding-top: 200px; }

.pt-205 {
  padding-top: 205px; }

.pt-210 {
  padding-top: 210px; }

.pt-215 {
  padding-top: 215px; }

.pt-220 {
  padding-top: 220px; }

.pt-225 {
  padding-top: 225px; }

.pb-5 {
  padding-bottom: 5px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-35 {
  padding-bottom: 35px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-45 {
  padding-bottom: 45px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-55 {
  padding-bottom: 55px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-65 {
  padding-bottom: 65px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-75 {
  padding-bottom: 75px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-85 {
  padding-bottom: 85px; }

.pb-90 {
  padding-bottom: 90px; }

.pb-95 {
  padding-bottom: 95px; }

.pb-100 {
  padding-bottom: 100px; }

.pb-105 {
  padding-bottom: 105px; }

.pb-110 {
  padding-bottom: 110px; }

.pb-115 {
  padding-bottom: 115px; }

.pb-120 {
  padding-bottom: 120px; }

.pb-125 {
  padding-bottom: 125px; }

.pb-130 {
  padding-bottom: 130px; }

.pb-135 {
  padding-bottom: 135px; }

.pb-140 {
  padding-bottom: 140px; }

.pb-145 {
  padding-bottom: 145px; }

.pb-150 {
  padding-bottom: 150px; }

.pb-155 {
  padding-bottom: 155px; }

.pb-160 {
  padding-bottom: 160px; }

.pb-165 {
  padding-bottom: 165px; }

.pb-170 {
  padding-bottom: 170px; }

.pb-175 {
  padding-bottom: 175px; }

.pb-180 {
  padding-bottom: 180px; }

.pb-185 {
  padding-bottom: 185px; }

.pb-190 {
  padding-bottom: 190px; }

.pb-195 {
  padding-bottom: 195px; }

.pb-200 {
  padding-bottom: 200px; }

.pb-205 {
  padding-bottom: 205px; }

.pb-210 {
  padding-bottom: 210px; }

.pb-215 {
  padding-bottom: 215px; }

.pb-220 {
  padding-bottom: 220px; }

.pb-225 {
  padding-bottom: 225px; }

body {
  font-family: 'Kanit', sans-serif; }

.row {
  margin: 0; }

.row > * {
  padding-left: 0;
  padding-right: 0; }

html.is-flickity-fullscreen .header-content {
  display: none !important; }

.footer {
  margin: -50px 1.25rem;
  background-color: #FEE3DD;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #403f4c;
  width: auto; }
  .footer .halo-logo {
    width: 120px;
    order: -1;
    margin-top: 3rem;
    margin-bottom: 1.5rem; }

@media (min-width: 996px) {
  .footer {
    margin: -80px auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 15rem; }
    .footer .halo-logo {
      order: 0;
      margin: 0; } }

header {
  position: relative; }
  header nav {
    position: absolute;
    display: flex;
    transform: scale(0, 1);
    background-color: #c8255c;
    top: 100%;
    right: 0;
    height: 100vh;
    width: 19vh;
    transform-origin: right;
    transition: transform 400ms ease-in-out;
    font-weight: 600; }
    header nav ul {
      display: flex;
      flex-direction: column;
      margin: .25rem auto; }
      header nav ul li {
        padding: .35rem 1.25rem;
        letter-spacing: 0.05rem; }
        header nav ul li:last-child {
          padding: .35rem 1.25rem 1.25rem 1.25rem; }
        header nav ul li a,
        header nav ul li a:hover,
        header nav ul li a:focus {
          color: inherit;
          opacity: 0;
          transition: opacity 150ms ease-in-out; }
        header nav ul li .halo-submenu {
          position: absolute;
          left: 70%;
          bottom: -75%;
          font-size: .7rem;
          width: fit-content; }
  header .social-icons i {
    color: inherit;
    font-size: 22px; }
    header .social-icons i:first-child {
      padding: 0 5px; }
    header .social-icons i:last-child {
      padding: 0 10px; }

.header-content {
  position: fixed;
  right: 0;
  left: 0;
  display: flex;
  padding: 10px 20px;
  color: white;
  flex-direction: row;
  background-color: #c8255c;
  justify-content: space-between;
  align-items: center;
  z-index: 9999999; }
  .header-content .halo-logo {
    width: 100px; }
  .header-content .nav-toggle {
    display: none; }
  .header-content .nav-toggle:checked ~ nav {
    transform: scale(1, 1); }
    .header-content .nav-toggle:checked ~ nav a {
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms; }
  .header-content span,
  .header-content span::before,
  .header-content span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative; }
  .header-content span::before,
  .header-content span::after {
    content: '';
    position: absolute; }
  .header-content span::before {
    bottom: 7px; }
  .header-content span::after {
    top: 7px; }

.active-nav,
.active-nav:hover {
  color: #0f2f60 !important; }

.active-nav::before {
  transform: scale(2, 5) !important;
  background-color: #0f2f60 !important; }

@media (min-width: 992px) {
  .sticky-header {
    position: sticky;
    top: 3rem;
    z-index: 10; }
  .nav-toggle-label {
    display: none; }
  header {
    margin-top: 3rem;
    position: relative; }
    header .header-content {
      margin-top: -3rem;
      width: 33.333333%;
      height: 283px;
      position: absolute;
      padding: 1.5rem 1.5rem;
      right: 0;
      left: auto;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      header .header-content .halo-logo {
        width: 180px;
        margin: 0 auto; }
      header .header-content nav {
        display: flex;
        transform: scale(1, 1);
        top: 127px;
        right: 0;
        left: 0;
        height: auto;
        width: auto;
        transform-origin: top;
        background: none;
        line-height: 1.2;
        font-size: 1.25rem; }
        header .header-content nav ul {
          display: flex;
          flex-direction: column;
          height: 133px;
          margin: 0; }
          header .header-content nav ul li {
            position: relative;
            padding: .1rem 2.5rem; }
            header .header-content nav ul li a {
              opacity: 1;
              position: relative; }
              header .header-content nav ul li a::before {
                background: #FFFFFF;
                content: "";
                left: -7px;
                top: 4px;
                position: absolute;
                height: 4px;
                width: 1.5px;
                transition: transform cubic-bezier(0.51, 0.07, 0, 1.85) 300ms;
                transform: scale(1, 0);
                transform-origin: top; }
              header .header-content nav ul li a:hover, header .header-content nav ul li a:focus {
                color: inherit;
                opacity: 1;
                position: relative; }
                header .header-content nav ul li a:hover::before, header .header-content nav ul li a:focus::before {
                  transform: scale(1, 5); }
            header .header-content nav ul li .halo-submenu {
              display: none; }
            header .header-content nav ul li .active-nav,
            header .header-content nav ul li .active-nav:hover {
              color: inherit !important; }
      header .header-content .social-icons {
        align-self: flex-end;
        margin-bottom: -0.3rem; }
        header .header-content .social-icons i {
          font-size: 22px; }
          header .header-content .social-icons i:first-child {
            padding: 0 5px; }
          header .header-content .social-icons i:last-child {
            padding: 0 10px; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes caret {
  30% {
    border-color: transparent; } }

.hero-background {
  height: 121vh;
  align-items: center;
  background-size: cover;
  background-position: center; }

.hero-title {
  color: #0f2f60;
  text-align: left;
  font-size: clamp(3.2rem, 15vw, 5rem);
  font-weight: 700;
  padding-left: 1.5rem;
  margin-top: -11rem; }

.hero-accent-color {
  color: #c8255c; }

.type-anim::after {
  content: '';
  border-right: 0.1em solid #0f2f60;
  margin-left: .06em;
  animation: caret 1s steps(1) infinite; }

@media (min-width: 599px) {
  .hero-background {
    height: 90vh; } }

@media (min-width: 992px) {
  .hero-background {
    height: 75vh;
    align-items: center; }
  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .hero-title {
    padding: 1rem 1rem 1rem 14rem;
    margin-top: 0; }
  .hero-title-primary {
    padding: 3.5rem 1rem 10rem 19rem; } }

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .test .mobile-hero-title {
    padding-left: 0; }
  .test .halo-bg-btn .halo-btn {
    margin: 1rem auto;
    background-color: #22adb7;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.5rem 1.25rem;
    font-size: 2.0rem;
    color: #ffffff;
    font-weight: 700;
    position: relative; }
    .test .halo-bg-btn .halo-btn::after {
      position: absolute;
      content: "";
      width: 92%;
      height: 3px;
      background: #c8255c;
      bottom: -3px;
      left: 7px; }

@media (min-width: 992px) {
  .test {
    padding: 2.5rem 4rem 2.5rem 14rem;
    background-color: #ffffff73;
    height: 350px;
    width: auto;
    top: -14rem;
    left: 0; }
    .test .mobile-hero-title {
      padding: 0;
      margin-top: 0;
      text-align: left; }
    .test .halo-bg-btn .halo-btn {
      padding: 0.5rem 1.5rem;
      font-size: 1.8rem; }
      .test .halo-bg-btn .halo-btn::after {
        width: 10%;
        transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) 300ms;
        transform: scale(1, 1);
        transform-origin: left; }
      .test .halo-bg-btn .halo-btn:hover, .test .halo-bg-btn .halo-btn:focus {
        position: relative; }
        .test .halo-bg-btn .halo-btn:hover::after, .test .halo-bg-btn .halo-btn:focus::after {
          transform: scale(9.2, 1); } }

@media (max-width: 600px) {
  .halo-card {
    margin-left: 0;
    margin-right: 0; } }

.section-mobile {
  padding-left: 0;
  padding-right: 0; }

.halo-card {
  color: #403f4c;
  -webkit-box-shadow: 0 0 6px 0 #3e3e3e3d;
  box-shadow: 0 0 6px 0 #3e3e3e3d;
  margin: -50px 1.25rem;
  z-index: 1;
  position: relative;
  background: #ffffff; }
  .halo-card .halo-card-upper {
    padding: 1.5rem; }
    .halo-card .halo-card-upper .halo-card-title {
      text-align: left;
      font-size: 2rem;
      margin: 0.75rem 0;
      font-weight: 700; }
    .halo-card .halo-card-upper .halo-card-text {
      line-height: 2.5rem;
      font-size: 1.5rem;
      font-weight: 300; }
    .halo-card .halo-card-upper .halo-card-subtitle {
      line-height: 2.5rem;
      margin: 0.75rem 0;
      font-weight: 700;
      font-size: 1.5rem; }
  .halo-card .map-card {
    height: 300px; }
    .halo-card .map-card .halo-map {
      width: 100%;
      height: 255px;
      background-size: 225%;
      background-position: 50% 20%;
      background-repeat: no-repeat; }
  .halo-card .halo-card-image-bg {
    background: #FEE3DD; }
    .halo-card .halo-card-image-bg .halo-card-image {
      background-size: cover;
      width: 100%;
      height: 250px;
      margin: 1.5rem 0; }
      .halo-card .halo-card-image-bg .halo-card-image:first-child, .halo-card .halo-card-image-bg .halo-card-image:last-child {
        margin: 0; }

.halo-card-color {
  background-color: #0f2f60;
  color: white;
  text-align: center; }
  .halo-card-color .halo-card-color-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 5.5rem 0; }
    .halo-card-color .halo-card-color-title a:hover {
      color: inherit; }

@media (min-width: 992px) {
  .halo-card {
    color: #403f4c;
    -webkit-box-shadow: 0px 0px 3px 0px #3e3e3e3d;
    box-shadow: 0px 0px 3px 0px #3e3e3e3d;
    display: flex;
    margin: -50px auto;
    z-index: 1;
    background-color: white; }
    .halo-card .halo-card-upper {
      padding: 2.5rem 3.25rem; }
      .halo-card .halo-card-upper .halo-card-title {
        font-size: 2.75rem; }
      .halo-card .halo-card-upper .halo-card-text {
        line-height: 3rem; }
    .halo-card .map-card {
      padding: 1.5rem !important;
      height: auto; }
      .halo-card .map-card .halo-map {
        height: 439px;
        background-size: contain; }
    .halo-card .halo-card-image-bg {
      background: #FEE3DD; }
      .halo-card .halo-card-image-bg .halo-card-image {
        background-size: cover;
        margin: 0; }
        .halo-card .halo-card-image-bg .halo-card-image:first-child, .halo-card .halo-card-image-bg .halo-card-image:last-child {
          width: 311.3px;
          margin-bottom: 3em; }
        .halo-card .halo-card-image-bg .halo-card-image:nth-child(2) {
          margin: 3rem -2rem 0rem -2rem;
          position: relative;
          z-index: 1;
          width: 321.3px;
          -webkit-box-shadow: 0px 0px 3px 0px #3e3e3e3d;
          box-shadow: 0px 0px 3px 0px #3e3e3e3d; }
    .halo-card .halo-card-color {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center; } }

.halo-card-upper .main-carousel .flickity-viewport,
.halo-card-upper .main-carousel-studio .flickity-viewport {
  height: 200px; }
  .halo-card-upper .main-carousel .flickity-viewport .halo-flickity-image,
  .halo-card-upper .main-carousel-studio .flickity-viewport .halo-flickity-image {
    height: 200px;
    width: 100%; }

.halo-card-upper .is-fullscreen {
  z-index: 11 !important; }
  .halo-card-upper .is-fullscreen .flickity-viewport,
  .halo-card-upper .is-fullscreen .halo-flickity-image {
    padding: 2rem;
    height: 100% !important;
    object-fit: contain; }

.halo-card-upper .nav-carousel,
.halo-card-upper .nav-carousel-studio {
  display: none; }

.halo-subpage-card-color {
  background-color: #0f2f60;
  color: white;
  height: auto; }
  .halo-subpage-card-color .halo-subpage-card-color-icons {
    margin: 1rem auto;
    width: fit-content;
    font-size: 1.3rem; }
    .halo-subpage-card-color .halo-subpage-card-color-icons i {
      padding: 1rem; }

.hero-title-container {
  padding-left: 2.5rem; }

@media all and (min-width: 992px) {
  .halo-subpage-card-color {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .halo-subpage-card-color .halo-subpage-card-color-icons {
      font-size: 2rem;
      margin: 1rem auto;
      width: fit-content; }
      .halo-subpage-card-color .halo-subpage-card-color-icons i {
        padding: 0;
        margin: 3rem;
        position: relative; }
        .halo-subpage-card-color .halo-subpage-card-color-icons i[data-hover]::after {
          content: attr(data-hover);
          font-family: 'Kanit';
          font-weight: 200;
          font-size: 1.2rem;
          color: white;
          background-color: #000000a3;
          display: block;
          top: 90%;
          position: absolute;
          padding: 1em 1.5em;
          border-radius: 0.5rem;
          transform: translate(-28%, 0) scale(0);
          transition: transform ease-out 150ms;
          transform-origin: top;
          z-index: 2; }
        .halo-subpage-card-color .halo-subpage-card-color-icons i:hover::after, .halo-subpage-card-color .halo-subpage-card-color-icons i:focus::after {
          transform: translate(-31%, 15%) scale(1); }
  .halo-card-upper .main-carousel .flickity-viewport .halo-flickity-image,
  .halo-card-upper .main-carousel-studio .flickity-viewport .halo-flickity-image {
    height: 400px;
    width: 100%; }
  .halo-card-upper .nav-carousel,
  .halo-card-upper .nav-carousel-studio {
    display: block; }
    .halo-card-upper .nav-carousel .flickity-viewport,
    .halo-card-upper .nav-carousel-studio .flickity-viewport {
      height: 150px; }
      .halo-card-upper .nav-carousel .flickity-viewport .halo-flickity-image,
      .halo-card-upper .nav-carousel-studio .flickity-viewport .halo-flickity-image {
        height: 150px;
        width: 30%;
        padding: .25rem;
        object-fit: cover; }
      .halo-card-upper .nav-carousel .flickity-viewport .is-nav-selected,
      .halo-card-upper .nav-carousel-studio .flickity-viewport .is-nav-selected {
        background-color: #c8255c; }
  .hero-title-container {
    padding: 0; } }

.form-input {
  padding: .5rem;
  widtH: 100%;
  margin: 0.25rem 0;
  border-width: 1px;
  border-style: double; }
  .form-input:focus-visible {
    outline-color: #22adb7; }

.halo-contact-bg-btn {
  justify-content: center; }
  .halo-contact-bg-btn .halo-contact-btn {
    background-color: #22adb7;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-size: 2.0rem;
    color: #ffffff;
    font-weight: 700;
    position: relative; }
    .halo-contact-bg-btn .halo-contact-btn::after {
      position: absolute;
      content: "";
      width: 88%;
      height: 3px;
      background: #c8255c;
      bottom: -3px;
      left: 7px; }

.contact-alert {
  margin: 1rem auto;
  background: #c8255c;
  color: white;
  padding: 0.5rem; }

.contact-section {
  margin-bottom: 3.2rem; }

@media all and (min-width: 992px) {
  .hero-contact-title {
    padding: 0.5rem 1rem 3rem 18rem; }
  .halo-contact-bg-btn {
    justify-content: flex-end; }
    .halo-contact-bg-btn .halo-contact-btn {
      padding: 0.5rem 1.25rem;
      font-size: 2.2rem; }
      .halo-contact-bg-btn .halo-contact-btn::after {
        width: 10%;
        transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) 300ms;
        transform: scale(1, 1);
        transform-origin: left; }
      .halo-contact-bg-btn .halo-contact-btn:hover, .halo-contact-bg-btn .halo-contact-btn:focus {
        position: relative; }
        .halo-contact-bg-btn .halo-contact-btn:hover::after, .halo-contact-bg-btn .halo-contact-btn:focus::after {
          transform: scale(9.3, 1); }
  .contact-alert {
    margin: 2rem auto;
    padding: 1.5rem; }
  .contact-section {
    margin-bottom: 5.1rem; } }

#cookie-bar {
  width: 100%;
  background-color: white;
  position: fixed;
  display: block;
  color: #403f4c;
  padding: 25px;
  z-index: 9999;
  bottom: 0;
  border-radius: .25rem;
  box-shadow: 0 4px 10px black; }
  #cookie-bar .cookie-bar-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #cookie-bar .cookie-bar-wrap .halo-cookie-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column; }
      #cookie-bar .cookie-bar-wrap .halo-cookie-container .btn-cookie {
        background-color: #c8255c;
        padding: 7px 20px;
        color: white;
        cursor: pointer;
        margin: 1rem 0; }
      #cookie-bar .cookie-bar-wrap .halo-cookie-container .halo-cookie-href {
        white-space: nowrap;
        color: #403f4c;
        order: 1;
        font-size: 0.9rem; }

@media all and (min-width: 992px) {
  #cookie-bar .cookie-bar-wrap {
    flex-direction: row;
    justify-content: space-between; }
    #cookie-bar .cookie-bar-wrap .halo-cookie-container {
      flex-direction: row; }
      #cookie-bar .cookie-bar-wrap .halo-cookie-container .btn-cookie {
        margin: 0; }
      #cookie-bar .cookie-bar-wrap .halo-cookie-container .halo-cookie-href {
        padding-right: 1em;
        white-space: nowrap;
        color: #403f4c;
        order: 0; }
        #cookie-bar .cookie-bar-wrap .halo-cookie-container .halo-cookie-href:hover {
          opacity: 0.8; } }
