////style mapy tu też są////

//wymuszona mobilka
@media (max-width:600px){
  .halo-card{
    margin-left: 0;
    margin-right: 0;
  }
}
//mobilka
.section-mobile{
  padding-left: 0;
  padding-right: 0;
}
.halo-card {
  color: #403f4c;
  -webkit-box-shadow: 0 0 6px 0 #3e3e3e3d;
  box-shadow: 0 0 6px 0 #3e3e3e3d;
  margin: -50px 1.25rem;
  z-index:1;
  position: relative;
  background: #ffffff;
  .halo-card-upper{
    padding:1.5rem;
    .halo-card-title{
      text-align: left;
      font-size: 2rem;
      margin: 0.75rem 0;
      font-weight: 700;
    }
    .halo-card-text {
      line-height: 2.5rem;
      font-size: 1.5rem;
      font-weight: 300;
    }
    .halo-card-subtitle{
      line-height: 2.5rem;
      margin: 0.75rem 0;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
  .map-card{
    height:300px;
    .halo-map{
      width: 100%;
      height: 255px;
      background-size: 225%;
      background-position: 50% 20%;
      background-repeat: no-repeat;
    }
  }

  .halo-card-image-bg{
    background: $accentPinkColor;
    .halo-card-image{
      background-size: cover;
      width: 100%;
      height: 250px;
      margin:1.5rem 0;
      &:first-child,
      &:last-child{
        margin:0;
      }
    }
  }
}
.halo-card-color {
  background-color: $primaryBlueColor;
  color:white;
  text-align: center;
  .halo-card-color-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 5.5rem 0;
    a:hover{
      color:inherit;
    }
  }
}
//desktop
@media (min-width:992px){
  .halo-card {
    color:$textColor;
    -webkit-box-shadow: 0px 0px 3px 0px #3e3e3e3d;
    box-shadow: 0px 0px 3px 0px #3e3e3e3d;
    display: flex;
    margin: -50px auto;
    z-index: 1;
    background-color: white;
    .halo-card-upper{
      padding: 2.5rem 3.25rem;
      .halo-card-title{
        font-size:2.75rem;
      }
      .halo-card-text {
        line-height: 3rem;
      }
    }
    .map-card{
      padding:1.5rem!important;
      height:auto;
        .halo-map{
        height: 439px;
        background-size: contain;
      }
    }
    .halo-card-image-bg{
      background: $accentPinkColor;
      .halo-card-image{
        background-size: cover;
        margin:0;
        &:first-child,
        &:last-child{
          width: 311.3px;
          margin-bottom: 3em;
        }
        &:nth-child(2){
          margin: 3rem -2rem 0rem -2rem;
          position: relative;
          z-index: 1;
          width: 321.3px;
          -webkit-box-shadow: 0px 0px 3px 0px #3e3e3e3d;
          box-shadow: 0px 0px 3px 0px #3e3e3e3d;
        }
      }
    }
    .halo-card-color{
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

