.form-input{
  padding: .5rem;
  widtH: 100%;
  margin: 0.25rem 0;
  border-width: 1px;
  border-style: double;
  &:focus-visible{
    outline-color:$accentBlueColor;
  }
}

.halo-contact-bg-btn {
  justify-content: center;
  .halo-contact-btn {
    background-color: $accentBlueColor;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-size: 2.0rem;
    color:#ffffff;
    font-weight: 700;
    position: relative;
    &::after{
      position:absolute;
      content:"";
      width:88%;
      height:3px;
      background: $primaryPinkColor;
      bottom:-3px;
      left:7px;
    }
  }
}
.contact-alert{
  margin: 1rem auto;
  background: $primaryPinkColor;
  color:white;
  padding: 0.5rem;
}
.contact-section{
  margin-bottom:3.2rem
}
@media all and (min-width:992px){
  .hero-contact-title{
    padding: 0.5rem 1rem 3rem 18rem;
  }
  .halo-contact-bg-btn {
    justify-content: flex-end;
    .halo-contact-btn {
      padding: 0.5rem 1.25rem;
      font-size: 2.2rem;
      &::after{
        width:10%;
        transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) 300ms;
        transform: scale(1, 1);
        transform-origin: left;
      }
      &:hover,
      &:focus{
        position: relative;
        &::after{
          transform: scale(9.3, 1);
        }
      }
    }
  }
  .contact-alert{
    margin: 2rem auto;
    padding: 1.5rem;
  }
  .contact-section{
    margin-bottom:5.1rem
  }
}

