#cookie-bar{
  width: 100%;
  background-color: white;
  position: fixed;
  display: block;
  color: $textColor;
  padding: 25px;
  z-index:9999;
  bottom: 0;
  border-radius:.25rem;
  box-shadow: 0 4px 10px black;
  .cookie-bar-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .halo-cookie-container{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      .btn-cookie{
        background-color: $primaryPinkColor;
        padding: 7px 20px;
        color: white;
        cursor: pointer;
        margin:1rem 0;
      }
      .halo-cookie-href{
        white-space: nowrap;
        color:$textColor;
        order: 1;
        font-size: 0.9rem;
      }
    }
  }
}
@media all and (min-width: 992px){
  #cookie-bar{
    .cookie-bar-wrap{
      flex-direction: row;
      justify-content: space-between;
      .halo-cookie-container{
        flex-direction: row;
        .btn-cookie{
          margin:0;
        }
        .halo-cookie-href{
          padding-right: 1em;
          white-space: nowrap;
          color:$textColor;
          order:0;
          &:hover{
            opacity:0.8;
          }
        }
      }
    }
  }
}

