//wymuszona mobilka
//@media (max-width:600px){
//  .footer{
//    max-width: 100%;
//  }
//}
//mobilka
.footer{
  margin: -50px 1.25rem;
  background-color: $accentPinkColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:$textColor;
  width: auto;
  .halo-logo{
    width:120px;
    order: -1;
    margin-top:3rem;
    margin-bottom:1.5rem;
  }
}

@media (min-width: 996px){
  .footer{
    margin:-80px auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 15rem;
    .halo-logo{
      order:0;
      margin:0;
    }
  }
}
