//mobilka
header{
  position:relative;
  nav{
    position: absolute;
    display: flex;
    transform: scale(0,1);
    background-color: $primaryPinkColor;
    top:100%;
    right:0;
    height: 100vh;
    width: 19vh;
    transform-origin:right;
    transition: transform 400ms ease-in-out;
    font-weight: 600;
    ul{
      display: flex;
      flex-direction: column;
      margin: .25rem auto;
      li{
        padding:.35rem 1.25rem;
        letter-spacing: 0.05rem;
        &:last-child{
          padding:.35rem 1.25rem 1.25rem 1.25rem;
        }
        a,
        a:hover,
        a:focus{
          color:inherit;
          opacity: 0;
          transition: opacity 150ms ease-in-out;
        }
        .halo-submenu{
          position: absolute;
          left: 70%;
          bottom: -75%;
          font-size: .7rem;
          width: fit-content;
        }
      }
    }
  }
  .social-icons{
    i{
      color:inherit;
      font-size:22px;
      &:first-child{
        padding:0 5px;
      }
      &:last-child{
        padding:0 10px;
      }
    }
  }
}
.header-content{
  position: fixed;
  right:0;
  left: 0;
  display: flex;
  padding: 10px 20px;
  color:white;
  flex-direction: row;
  background-color: $primaryPinkColor;
  justify-content: space-between;
  align-items: center;
  z-index: 9999999;
  .halo-logo{
    width:100px;
  }
  .nav-toggle{
    display:none;
  }
  //hamburger functionality
  .nav-toggle:checked ~ nav{
    transform:scale(1,1);
    a{
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms;
    }
  }
  //hamburger
  span,
  span::before,
  span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  span::before,
  span::after {
    content: '';
    position: absolute;
  }
  span::before{
    bottom:7px;
  }
  span::after {
    top:7px;
  }
}
.active-nav,
.active-nav:hover{
  color:$primaryBlueColor!important;
}
.active-nav::before{
  transform: scale(2, 5)!important;
  background-color:$primaryBlueColor!important;
}
//desktop
@media (min-width:992px){
  .sticky-header{
    position: sticky;
    top: 3rem;
    z-index: 10;
  }
  .nav-toggle-label{
    display: none;
  }
  header{
    margin-top:3rem;
    position:relative;
    .header-content{
      margin-top:-3rem;
      width: 33.333333%;
      height: 283px;
      position:absolute;
      padding: 1.5rem 1.5rem;
      right:0;
      left: auto;
      top:0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .halo-logo{
        width:180px;
        margin:0 auto;
      }
      nav{
        display:flex;
        transform: scale(1,1);
        top: 127px;
        right:0;
        left:0;
        height: auto;
        width: auto;
        transform-origin:top;
        background: none;
        line-height:1.2;
        font-size:1.25rem;
        ul{
          display:flex;
          flex-direction: column;
          height:133px;
          margin: 0;
          li{
            position: relative;
            padding: .1rem 2.5rem;
            a{
              opacity: 1;
              position: relative;
              &::before{
                background: #FFFFFF;
                content: "";
                left: -7px;
                top: 4px;
                position: absolute;
                height: 4px;
                width: 1.5px;
                transition: transform cubic-bezier(0.51, 0.07, 0, 1.85) 300ms;
                transform: scale(1, 0);
                transform-origin: top;
              }
              //animacja navbar
              &:hover,
              &:focus{
                color:inherit;
                opacity: 1;
                position: relative;
                &::before{
                  transform: scale(1,5);
                }
              }
            }
            .halo-submenu{
              display:none;
            }
            .active-nav,
            .active-nav:hover{
              color:inherit!important;
            }
          }
        }
      }
      .social-icons{
        align-self: flex-end;
        margin-bottom: -0.3rem;
        i{
          font-size:22px;
          &:first-child{
            padding:0 5px;
          }
          &:last-child{
            padding:0 10px;
          }
        }
      }
    }
  }
}

