@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}
@keyframes caret {
  30% {
    border-color: transparent;
  }
}
//mobilka
.hero-background{
  height: 121vh;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.hero-title{
  color:$primaryBlueColor;
  text-align: left;
  font-size:clamp(3.2rem, 15vw, 5rem);
  font-weight: 700;
  padding-left:1.5rem;
  margin-top: -11rem;
}
.hero-accent-color{
  color: $primaryPinkColor;
  //line-height: 0;
}
.type-anim::after{
    content:'';
    border-right: .1em solid $primaryBlueColor;
    margin-left: .06em;
    animation: caret 1s steps(1) infinite;
}
//tablet
@media (min-width: 599px){
  .hero-background{
    height:90vh;
  }
}
//desktop
@media (min-width: 992px){
  .hero-background{
    height:75vh;
    align-items: center;
  }
  .parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-title{
    padding: 1rem 1rem 1rem 14rem;
    margin-top: 0;
  }
  .hero-title-primary{
    padding:3.5rem 1rem 10rem 19rem;
  }
}
