.halo-card-upper{
  .main-carousel,
  .main-carousel-studio{
    .flickity-viewport{
      height: 200px;
      .halo-flickity-image {
        height: 200px;
        width: 100%;
      }
    }
  }
  .is-fullscreen{
    z-index: 11!important;
    .flickity-viewport,
    .halo-flickity-image{
      padding:2rem;
      height: 100%!important;
      object-fit: contain;
    }
  }
  .nav-carousel,
  .nav-carousel-studio{
    display: none;
  }
}
.halo-subpage-card-color{
  background-color: $primaryBlueColor;
  color: white;
  height: auto;
  .halo-subpage-card-color-icons{
    margin: 1rem auto;
    width: fit-content;
    font-size: 1.3rem;
    i{
      padding: 1rem;
    }
  }
}
.hero-title-container{
  padding-left: 2.5rem;
}
//desktop
@media all and (min-width:992px){
  .halo-subpage-card-color{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .halo-subpage-card-color-icons{
      font-size: 2rem;
      margin: 1rem auto;
      width: fit-content;
      i{
        padding: 0;
        margin:3rem;
        position:relative;
        &[data-hover]::after{
          content:attr(data-hover);
          font-family: 'Kanit';
          font-weight: 200;
          font-size: 1.2rem;
          color: white;
          background-color: #000000a3;
          display:block;
          top:90%;
          position: absolute;
          padding:1em 1.5em;
          border-radius: 0.5rem;
          transform: translate(-28%, 0) scale(0);
          transition: transform ease-out 150ms;
          transform-origin: top;
          z-index:2;
        }
        &:hover::after,
        &:focus::after{
          transform: translate(-31%, 15%) scale(1);
        }
      }
    }
  }
  .halo-card-upper {
    .main-carousel,
    .main-carousel-studio {
      .flickity-viewport {
        .halo-flickity-image {
          height: 400px;
          width: 100%;
        }
      }
    }

    .nav-carousel,
    .nav-carousel-studio {
      display: block;

      .flickity-viewport {
        height: 150px;

        .halo-flickity-image {
          height: 150px;
          width: 30%;
          padding: .25rem;
          object-fit: cover;
        }

        .is-nav-selected {
          background-color: $primaryPinkColor;
        }
      }
    }
  }
  .hero-title-container{
    padding: 0;
  }
}






