.test{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .mobile-hero-title{
    padding-left: 0;
  }
  .halo-bg-btn{
    .halo-btn{
      margin: 1rem auto;
      background-color: $accentBlueColor;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      padding: 0.5rem 1.25rem;
      font-size: 2.0rem;
      color:#ffffff;
      font-weight: 700;
      position: relative;
      &::after{
        position:absolute;
        content:"";
        width:92%;
        height:3px;
        background: $primaryPinkColor;
        bottom:-3px;
        left:7px;
      }
    }
  }
}

@media (min-width: 992px){
  .test{
    padding: 2.5rem 4rem 2.5rem 14rem;
    background-color: #ffffff73;
    height: 350px;
    width: auto;
    top:-14rem;
    left:0;
    .mobile-hero-title{
      padding:0;
      margin-top: 0;
      text-align: left;
    }
    .halo-bg-btn {
      .halo-btn {
        padding: 0.5rem 1.5rem;
        font-size: 1.8rem;
        &::after{
          width:10%;
          transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) 300ms;
          transform: scale(1, 1);
          transform-origin: left;
        }
        &:hover,
        &:focus{
          position: relative;
          &::after{
            transform: scale(9.2, 1);
          }
        }
      }
    }
  }
}
