@import "common/custom";
@import "/wp-content/themes/weblider/node_modules/bootstrap/dist/css/bootstrap.css";
@import "/wp-content/themes/weblider/node_modules/@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Kanit', sans-serif;
}
.row{
  margin:0;
}
.row > *{
   padding-left:0;
   padding-right:0;
 }
html.is-flickity-fullscreen{
  .header-content{
    display: none!important;
  }
}
@import "footer";
@import "header";
@import "hero";
@import "section";
@import "about-us";
@import "rooms-page";
@import "contact-page";
@import "cookie";

